<div class="notice"> <%= flash[:message] %> </div>

<div>
  <% if @symptom.errors.any? %>
    <% @symptom.errors.full_messages.each do |message| %>
      <li><%= message.downcase %></li>
    <% end %>
  <% end %>
</div>

<h1>Create a New Symptom</h1>

<%= form_for @symptom do |f| %>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.submit "Create Symptom" %>
<% end %>