<%= form_for [patient.user, patient] do |f| %>
  <%= f.hidden_field :user_id %>

  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :dob, "DOB" %>
    <%= f.date_field :dob, value: patient.dob, placeholder: "mm/dd/yyyy" %>
  </div>

  <div>
    <%= f.label :symptoms %>
    <%= f.collection_select(:symptom_ids, Symptom.all, :id, :name, {prompt: "Select all associated symptoms..."}) %>
  </div>

  <div>
    <%= f.label :diagnoses %>
    <%= f.collection_select(:diagnosis_ids, Diagnosis.all, :id, :name, prompt: "Select all associated diagnoses...") %>
  </div>

  <%= f.submit %>

<% end %>
