<h1><%= @patient.name %></h1>

<h3>Current Symptoms</h3>

<% @patient.symptoms.each do |symptom| %>
  <%= symptom.name %>
<% end %>

<h3>Current diagnoses</h3>

<% @patient.diagnoses.each do |diagnosis| %>
  <%= diagnosis.name %>
<% end %>

<%= link_to 'Edit this patient', edit_user_patient_path([@user, @patient], id: @user) %>
<%= link_to 'Delete this patient', method: :delete, data:{confirm: "Are you sure you want to delete this patient?"} %>
